<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Pessoa</strong>
          <small>Cadastro</small>
        </div>
        <form #form="ngForm" novalidate>
          <input type="hidden" name="codigo" ngModel>
          <input type="hidden" name="dataCadastro" ngModel>
          <input type="hidden" name="dataAlteracao" ngModel>
          
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="nome" (value)="pessoa.nome" ngModel required>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Sobrenome</label>
                  <input type="text" class="form-control" name="sobrenome" ngModel required>
                </div>
              </div>


            </div>
            <!--/.row-->


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Apelido</label>
                  <input type="text" class="form-control" name="apelido" ngModel required>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Sexo</label>
                  <select class="form-control" name="sexo" ngModel>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                  </select>
                </div>
              </div>

            </div> <!-- /.row-->

            <div class="row">
              <div class="col-sm-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="isDono" name="isDono" ngModel>
                  <label class="custom-control-label" for="isDono">Dono</label>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="isZelador" name="isZelador" ngModel>
                  <label class="custom-control-label" for="isZelador">Bloqueado</label>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="bloqueado" name="bloqueado" ngModel>
                  <label class="custom-control-label" for="bloqueado">Bloqueado</label>
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div>
  <button type="button" class="btn btn-primary" [disabled]='!form.valid' (click)="salvar(form)" >Salvar</button>
  <button type="reset" class="btn btn-danger" >Limpar</button>
</div>
