<h2>Cadastro de Pessoa - Form </h2>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Pessoa</strong>
          <small>Cadastro</small>
        </div>
        {{form.valid}}
        {{form.value | json }}
        <form #form="ngForm" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="nome" ngModel required>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Sobrenome</label>
                  <input type="text" class="form-control" name="sobrenome" ngModel required>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Apelido</label>
                  <input type="text" class="form-control" name="apelido" ngModel required>
                </div>
              </div>
            </div>
            <!--/.row-->

            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="dono" name="dono" ngModel>
                  <label class="custom-control-label" for="dono">Dono</label>
                </div>

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="bloqueado" name="bloqueado" ngModel>
                  <label class="custom-control-label" for="bloqueado">Bloqueado</label>
                </div>

              </div>
            </div>
            <!--/.row-->
            <div class="row">

            </div>
            <!--/.row-->
          </div>
        </form>

       

      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div>
    <button type="button" class="btn btn-primary" [disabled]='!form.valid'>Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
  </div>