<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-2">
              <strong>Caixa</strong>
              <small>Listando</small>
            </div>
            <div class="col-sm-7">
              <div #searchComponent class="form-group row">
                <input class="form-control" type="text" nome="search" id="search"
                  placeholder="Insira seu criterio de busca" #searchInput>
              </div>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-primary btn-round" (click)="atualizarLista()">
                <i class="icon-reload icons"></i>
              </button>
              <a type="button" class="btn btn-primary btn-round" [routerLink]="['form']">
                <i class="icon-plus icons"></i>
                Novo
              </a>
            </div>
          </div> <!-- /.row -->
        </div>

        <div class="d-flex justify-content-center" *ngIf="loader">
          <div class="spinner-border text-center text-primary m-5" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <table class="table" *ngIf="caixas.length > 0 && loader == false">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tipo</th>
              <th scope="col">cor</th>
              <th scope="col">local</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let caixa of caixas">
              <th scope="row">{{caixa.codigo}}</th>
              <td>{{caixa.tipo.descricao}}</td>
              <td>{{caixa.cor.descricao}}</td>
              <td>{{caixa.local.descricao}}</td>
              <td>
                <div class="dropdown">
                  <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="cui-options icons"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['form', caixa.codigo]">Editar</a>
                    <a class="dropdown-item" (click)="removerCaixa(caixa.codigo)">Remover</a>
                    <a class="dropdown-item" (click)="verItens(caixa.codigo)">Ver Itens</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row" *ngIf="caixas.length == 0  && loader == false">
          <div class="col-sm-12">
            <h3 class="text-center"> Nenhum registro encontrado! </h3>
          </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Confirma a exclusão?</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Você deseja realmente excluir?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<nav #navegation class="left" aria-label="...">
  <ul class="pagination">
    <li class="page-item">
      <button (disabled)="offset == 0" class="page-link" (click)="prevPage()">Retornar</button>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <button class="page-link" href="#" (click)="nextPage()">Avançar</button>
    </li>
  </ul>
</nav>