<h2>Cadastro de Objeto - Form </h2>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Objeto</strong>
          <small>Cadastro</small>
        </div>
        {{myForm.value | json}}
        <form [formGroup]="myForm" novalidate>
          <div class="card-body">
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" formControlName="nome">
                </div>
              </div>
            </div>
            <!--/.row-->

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Descrição</label>
                  <textarea class="form-control" formControlName="descricao" rows="5">
                  </textarea>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-6">
                <label for="name">Dono</label>
                <input list="listDono" #listaDonoInput class="form-control" formControlName="donoCodigo" (keyup)="getPessoas(listaDonoInput)" autocomplete="false" >
                <datalist id="listDono">
                  <option *ngFor="let pessoa of pessoas">{{pessoa.codigo}} | {{pessoa.nome}} {{pessoa.sobrenome}} </option>
                </datalist>
              </div>

              <div class="col-sm-6">
                <label for="name">Dono</label>
                <input list="listDono" #listaDonoInput class="form-control" formControlName="zeladorCodigo" (keyup)="getPessoas(listaDonoInput)" autocomplete="false" >
                <datalist id="listDono">
                  <option *ngFor="let pessoa of pessoas" >{{pessoa.codigo}} | {{pessoa.nome}} {{pessoa.sobrenome}} </option>
                </datalist>
              </div>
            </div>
            <!--/.row-->

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Largura</label>
                  <input type="text" class="form-control" formControlName="largura">
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Altura</label>
                  <input type="text" class="form-control" formControlName="altura">
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Comprimento</label>
                  <input type="text" class="form-control" formControlName="comprimento">
                </div>
              </div>
            </div>
            <!--/.row-->

            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Peso</label>
                  <input type="text" class="form-control" formControlName="peso" >
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Cor</label>
                  <input type="text" class="form-control" formControlName="cor" >
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Material</label>
                  <input type="text" class="form-control" formControlName="material" >
                </div>
              </div>
            </div> <!-- /.row-->
            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Tensão</label>
                  <input type="text" class="form-control" formControlName="tensao" >
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Validade</label>
                  <input type="text" class="form-control" formControlName="dataValidade">
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">NF-e</label>
                  <input type="number" class="form-control" formControlName="chaveAcessoNotaFiscal" >
                </div>
              </div>

            </div>  <!-- /.row-->
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div>
  <button type="button" class="btn btn-primary" [disabled]='!myForm.valid' (click)="salvar()">Salvar</button>
  <a type="reset" class="btn border-primary" [routerLink]="['/cadastro', 'objeto']" >Voltar</a>
  <button type="reset" class="btn btn-danger" [disabled]="this.myForm.value.codigo == 0" (click)="delete()" >Excluir</button>
</div>