<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Caixa</strong>
          <small>Cadastro</small>
        </div>
        <form #form="ngForm" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="tipo">Tipo</label>
                  <select name="tipo" id="tipo" class="form-control" ngModel required>
                    <option value="0">Organizadora</option>
                  </select>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label for="cor">Cor</label>
                  <select name="cor" class="form-control" ngModel required>
                    <option value="0">Azul</option>
                  </select>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Local</label>
                  <input type="text" name="local" class="form-control" ngModel required />
                </div>
              </div>

            </div>
            <!--/.row-->


            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Altura</label>
                  <input type="number" class="form-control" name="altura" ngModel>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Largura</label>
                  <input type="number" class="form-control" name="largura" ngModel />
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Comprimento</label>
                  <input type="number" class="form-control" name="comprimento" ngModel />
                </div>
              </div>

            </div> <!-- /.row-->
            <div class="row">
              <div class="col-sm-12">
                <label>Observacao</label>
                <textarea class="form-control" name="observacao" ngModel ></textarea>
              </div>
            </div> <!-- /.row-->
            <input type="hidden" name="codigo" #codigoInput ngModel>
            <input type="hidden" name="caixaCodigo" ngModel>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div>
  <button type="button" class="btn btn-primary" [disabled]='!form.valid' (click)="salvar(form)">Salvar</button>
  <a type="reset" class="btn border-primary" [routerLink]="['/cadastro', 'caixa']" >Voltar</a>
  <button type="reset" class="btn btn-danger" [disabled]="codigoInput.value == 0" (click)="delete(codigoInput.value)" >Excluir</button>
</div>