<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Caixa</strong>
          <small>Cadastro</small>
        </div>
        <form #form="ngForm" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="tipo">Tipo</label>
                    <input list="tipoCaixa" #listaDonoInput class="form-control" name="tipo" ngModel required placeholder="Pesquisar...">
                    <datalist id="tipoCaixa">
                      <option value="Organizadora">
                    </datalist>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label for="cor">Cor</label>
                  <input list="cor" #listaDonoInput class="form-control" name="cor" ngModel required placeholder="Pesquisar...">
                  <datalist id="cor">
                    <option value="Azul">01 - Azul</option>
                  </datalist>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Local</label>
                  <input type="text" name="local" class="form-control" ngModel required />
                </div>
              </div>

            </div>
            <!--/.row-->


            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Altura</label>
                  <input type="number" class="form-control" name="altura" ngModel>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Largura</label>
                  <input type="number" class="form-control" name="largura" ngModel />
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Comprimento</label>
                  <input type="number" class="form-control" name="comprimento" ngModel />
                </div>
              </div>

            </div> <!-- /.row-->
            <div class="row">
              <div class="col-sm-12">
                <label>Observacao</label>
                <textarea class="form-control" name="observacao" ngModel ></textarea>
              </div>
            </div> <!-- /.row-->
            <input type="hidden" name="codigo" #codigoInput ngModel>
            <input type="hidden" name="caixaCodigo" ngModel>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div>
  <button type="button" class="btn btn-primary" [disabled]='!form.valid' (click)="salvar(form)">Salvar</button>
  <a type="reset" class="btn border-primary" [routerLink]="['/cadastro', 'caixa']" >Voltar</a>
  <button type="reset" class="btn btn-danger" [disabled]="codigoInput.value == 0" (click)="delete(codigoInput.value)" >Excluir</button>
</div>




<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{alertMensagem}}&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

