<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Caixa</strong>
          <small>Cadastro</small>
        </div>
        <form [formGroup]="myForm" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Tipo</label>
                  <div class="input-group">
                    <select list="tipo" class="form-control" formControlName="tipo">
                      <option *ngFor="let tipo of tipos" [value]="tipo.codigo">{{tipo.descricao}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="dialogTipo()" type="button"><i
                          class="fa fa-plus"></i></button>
                    </div>
                    <datalist id="tipo">
                      <option *ngFor="let tipo of tipos" [value]="tipo">
                    </datalist>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Cor</label>
                  <div class="input-group">
                    <select class="form-control" formControlName="cor">
                      <option *ngFor="let cor of cores" [value]="cor.codigo">{{cor.descricao}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="dialogCor()"><i
                          class="fa fa-plus"></i></button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label>Local</label>
                  <div class="input-group">
                    <select class="form-control" #inputLocal formControlName="local">
                      <option *ngFor="let local of locais" [value]="local.codigo">{{local.descricao}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="dialogLocal()"><i
                          class="fa fa-plus"></i></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label for="name">Caixa</label>
                  <select class="form-control" formControlName="caixaCodigo">
                    <option *ngFor="let caixa of caixas" [value]="caixa.codigo">{{caixa.codigo}} - {{caixa.tipo.descricao}}
                      {{caixa.cor.descricao}} em {{caixa.local.descricao}}</option>
                  </select>
                </div>
              </div>


            </div>
            <!--/.row-->


            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="name">Altura</label>
                  <input type="number" class="form-control" formControlName="altura">
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label for="name">Largura</label>
                  <input type="number" class="form-control" formControlName="largura" />
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label for="name">Comprimento</label>
                  <input type="number" class="form-control" formControlName="comprimento" />
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label for="name">Caixa</label>
                  <input list="caixa" class="form-control" formControlName="caixaCodigo">
                  <datalist id="caixa">
                    <option value="Organizadora">
                  </datalist>
                </div>
              </div>

            </div> <!-- /.row-->
            <div class="row">
              <div class="col-sm-12">
                <label>Observacao</label>
                <textarea class="form-control" formControlName="observacao"></textarea>
              </div>
            </div> <!-- /.row-->
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div class="text-right">
  <button class="btn btn-primary" [disabled]="!this.myForm.valid" (click)="salvar()">Salvar</button>
  <button class="btn btn-danger" [disabled]="this.myForm.value.codigo == 0" (click)="delete()">Excluir</button>
  <button class="btn btn-outline-primary" [routerLink]="['/cadastro', 'caixa']">Cancelar</button>
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opçoes</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="listarItens()">Ver Itens</a>
    <a class="dropdown-item" (click)="listarItens()">QR Code</a>
  </div>
</div>




<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cadasto Caixa</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <qrcode [qrdata]="'testando'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #itemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Itens</h4>
        <button type="button" class="close" (click)="itemModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Nome</th>
              <th scope="col">Dono</th>
              <th scope="col">Descricao</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itens">
              <th scope="row">{{item.codigo}}</th>
              <td>{{item.nome}}</td>
              <td>{{item.dono}}</td>
              <td>{{item.descricao}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="itemModal.hide()">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->