<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-2">
              <strong>Objetos</strong>
              <small>Listando</small>
            </div>
            <div class="col-sm-7">
              <div #searchComponent class="form-group row">
                <input class="form-control" type="text" nome="search" id="search"
                  placeholder="Insira seu criterio de busca" #searchInput>
              </div>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-primary btn-round" (click)="atualizarLista()">
                <i class="icon-reload icons"></i>
              </button>
              <a type="button" class="btn btn-primary btn-round" [routerLink]="['form']">
                <i class="icon-plus icons"></i>
                Novo
              </a>
            </div>
          </div> <!-- /.row -->
        </div>

        <div class="d-flex justify-content-center" *ngIf="loader">
          <div class="spinner-border text-center text-primary m-5" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        
        <table class="table" *ngIf="objetos.length > 0">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Dono</th>
              <th scope="col">Status</th>
              <th scope="col" class="" >Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let objeto of objetos">
              <th scope="row">{{objeto.codigo}}</th>
              <td>{{objeto.nome}}</td>
              <td>{{objeto.dono.apelido}}</td>
              <td>{{objeto.status}}</td>
              <td>
                <div class="dropdown">
                  <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="cui-options icons"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['form', objeto.codigo]">Editar</a>
                    <a class="dropdown-item" (click)="removerObjeto(objeto.codigo)">Remover</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row" *ngIf="objetos.length == 0">
          <div class="col-sm-12">
            <h3 class="text-center"> Nenhum registro encontrado! </h3>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<nav #navegation class="left" aria-label="...">
  <ul class="pagination">
    <li class="page-item">
      <button (disabled)="offset == 0" class="page-link" (click)="prevPage()">Retornar</button>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <button class="page-link" href="#" (click)="nextPage()">Avançar</button>
    </li>
  </ul>
</nav>